---
import Layout from "@/layouts/Layout.astro";
import { slide } from "astro:transitions";
import { experiences } from "@/lib/dataExperience";
import ItemExperience from "@/components/ItemExperience.astro";
---

<Layout title="Experiencia">
  <div
    transition:name="main"
    transition:animate={slide({
      duration: "1s",
    })}
    class="flex flex-col items-center justify-center p-28"
  >
    <ol
      class="border-gray-200 dark:border-gray-700 bg-gray-700 bg-opacity-40 pl-24 pr-24 border rounded-xl pb-20"
    >
      {
        experiences.map((experience) => (
          <ItemExperience
            dateExperience={experience.dateExperience}
            titleExperience={experience.titleExperience}
            descriptionExperience={experience.descriptionExperience}
            companyExperience={experience.companyExperience}
            cityCompanyExperience={experience.cityCompanyExperience}
          />
        ))
      }
    </ol>
  </div>
</Layout>
